<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wjw.dao.UserMapper">
    <resultMap id="findAllResultMap" type="User" autoMapping="true">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <collection property="roles" ofType="Role" autoMapping="true">
            <id column="rid" property="id"/>
        </collection>
    </resultMap>
    <select id="findUserByPage" resultMap="findAllResultMap">
        select u.*, r.id rid, r.name, r.keyword, r.description
        from (select * from t_user limit #{offset}, #{pageSize}) u
                 inner join t_user_role ur
                 inner join t_role r
                            on u.id = ur.user_id and ur.role_id = r.id

    </select>
    <!--
          select u.*, r.id rid, r.name, r.keyword, r.description
            from t_user u
                     inner join t_user_role ur
                     inner join t_role r on u.id = ur.user_id and ur.role_id = r.id
                limit #{offset}, #{pageSize}; 这个是总共3条记录  上面那个是3个用户，有多个全角色情况下会超过3条-->
    <insert id="addRoleByUid">
        insert into t_user_role(user_id,role_id) values
        <foreach collection="rids" item="rid" separator=",">
            (#{uid},#{rid})
        </foreach>
    </insert>
    <insert id="insertRids">
        insert into t_user_role(user_id,role_id) values
        <foreach collection="rids" item="rid" separator=",">
            (#{uid},#{rid})
        </foreach>
    </insert>
</mapper>